---
layout: default
title: AED-Netwerk Gemeente Duiven
active: Home
class: home
---
{% include teaser.html %}
{% include aanmelden.html param="list-inline text-center" %}
<section class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<div class="row">
				<div class="col-md-12">
					<h2>Doel</h2>
					<p>Welkom op de site van Stichting AED-netwerk Gemeente Duiven. Deze stichting is opgericht door initiatief van leden van <a href="http://mkbduiven.nl" target="_blank" title="ga naar website MKB Duiven">MKB Duiven</a>.</p>
					<p>De stichting heeft als doel om:</p>
					<ul>
						<li>Het streven naar de oprichting, in stand houding en verbetering van een verfijnd AED-netwerk in de gemeente Duiven dat voldoet aan de wensen van alle inwoners.</li>
						<li>Het streven naar een AED aanbod in de gemeente Duiven zodat in nood de spoedeisende gezondheidszorg kan worden gestimuleerd en verbeterd.</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>Wat is een AED?</h2>
					<p><img alt="" src="assets/img/aed2-thumb.png" style="float: right; margin-top: -10px; margin-bottom: 10px; margin-left: 10px;" class="img-responsive" />Een Automatische Externe Defibrillator is een draagbaar toestel dat wordt gebruikt bij een persoon met een plotselinge hartstilstand. Deze AED onderzoekt zelf de patiënt en brengt zonodig een elektrische schok toe, met als doel het hart weer in een normaal ritme te brengen.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>Hoe werkt het AED-netwerk?</h2>
					<ol>
					    <li>Bel bij een (mogelijke) circulatiestilstand direct 1-1-2.</li>
					    <li>De Meldkamer Ambulancezorg (MKA) stuurt twee ambulances naar het slachtoffer en het alarmeringssysteem HartslagNu wordt automatisch geactiveerd.</li>
						<li>HartslagNu roept burgerhulpverleners op in de directe omgeving van het slachtoffer en roept burgerhulpverleners op die zich dichtbij een AED-toestel bevinden om met de AED naar het slachtoffer te gaan. </li>
						<li>De hulpverlener begint direct met hartmassage en mond-op-mondbeademing.</li>
						<li>Als de hulpverlener met het AED-toestel arriveert, worden een of meer krachtige stroomstoten toegediend.</li> 
						<li>Als daarna de ambulance arriveert, nemen de paramedici de hulpverlening over.</li>
					</ol>
					<p>Voor een uitgebreide omschrijving zie:<br/><a href="http://www.hartslagnu.nl/blz/burgerhulpverlening/hoe-ziet-dit-in-de-praktijk-uit.html" target="_blank">hoe-ziet-dit-in-de-praktijk-uit.html</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>Streven</h2>
					<ul>
					    <li>Vrijwilligers te motiveren hun kennis, kunde en ervaring in te zetten door het stimuleren en coördineren van opleidingen en het verzorgen van het onderhouden daarin.</li>
					    <li>Vrijwilligers te motiveren om een opleiding te volgen en zich bij <a href="http://www.hartslagnu.nl" target="_blank">HartslagNu.nl</a> aan te melden.</li>
					    <li>Ondernemingen, burgers, organisaties en verenigingen te motiveren om het financieel mogelijk te maken AED's aan te schaffen, te onderhouden en te verzekeren.</li>
					    <li>Ondernemingen, burgers, organisaties en verenigingen te motiveren om reeds aanwezige AED's 24 uur per dag beschikbaar te stellen en aan te melden bij <a href="http://www.hartslagnu.nl" target="_blank">HartslagNu.nl</a>.</li>
					    <li>Het organiseren van professionele nazorg na inzet bij hartfalen aan de betrokken vrijwillige hulpverleners;</li>
					    <li>Publiciteit te generen over de doelstelling door publicaties in de lokale pers, voorlichtingsavonden, de instant houding van een website, enzovoort.</li>
					    <li>Zich te laten adviseren door commissieleden voor het inwinnen van deskundig advies op het gebied van AED's, opleidingen en burgerbelangen.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-12">
					<h2>Wat is er nodig voor een goed AED-netwerk?</h2>
					<p>Voldoende AED-toestellen, gelijkmatig verspreid in de wijken en dag en nacht bereikbaar. Voor een goed netwerk denken we 25 AED-toestellen nodig te hebben.</p>
					<p>Voldoende vrijwillige hulpverleners, ongeveer 500 in de gemeente. De hulpverleners worden door erkende opleidingscentra opgeleid.</p>
					<p>Alle toestellen en opgeleide hulpverleners die willen deelnemen worden aangemeld bij <a href="http://www.hartslagnu.nl" target="_blank">HartslagNu.nl</a>.</p>
					<p>Het onderhouden van kennis van burgerhulpverleners door opleiding en het zorgdragen voor onderhouden van de AED’s.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>Wat kunt u doen om te helpen?</h2>
					<p><img alt="" style="float: right; margin-top: -10px; margin-bottom: 10px; margin-left: 10px;" src="assets/img/hartje.png" class="img-responsive">U kunt zich eenvoudig via deze website <a href="aanmelden">aanmelden</a> als <a href="vrijwillige-hulpverlener">vrijwillige hulpverlener</a> of <a href="begunstiger">sponsor</a>. U wordt opgeleid door opleidingscentra tegen een gereduceerd tarief. Daarnaast kunt u ons helpen met een <strong>vrijwillige bijdrage</strong>. Er is veel geld nodig. Dus wilt u of wil uw bedrijf, organisatie, vereniging, school, bedrijfskantine ons ook hierbij steunen dan is uw bijdrage meer dan van harte welkom.</p>
					<p>Aangezien we bij de <a href="http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/bijzondere_regelingen/goede_doelen/algemeen_nut_beogende_instellingen/" target="_blank">Belastingdienst</a> geregistreerd staan als ANBI (Algemeen nut beogende instellingen), mag u giften onder bepaalde voorwaarden aftrekken in uw aangifte inkomsten- of vennootschapsbelasting. Daarnaast geldt voor ANBI’s dat er geen schenk- en erfbelasting betaald hoeft te worden. Meer informatie hierover is te vinden op de website van de Belastingdienst.</p>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-md-12">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe src="//player.vimeo.com/video/79184534?portrait=0" width="460" height="259" frameborder="0" class="embed-responsive-item"></iframe>
					</div>
					<p class="pt15"><small>Film gemaakt door <a href="http://www.basfoto.nl/" target="_blank">Bas van Spankeren</a> in opdracht van de Rabobank, in het kader van het <a href="http://www.rabobank.nl/particulieren/lokalebanken/deliemers/stimuleringsfonds/" target="_blank">Rabobank Stimuleringsfonds De Liemers 2013</a>.</small></p>
				</div>
			</div>
		</div>
	</div>
</section>
{% include communicatie.html %}
<section class="container-fluid cursus">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
		{% include cursus.html param="col-md-6 col-md-offset-3" %}
		</div>
	</div>
</section>
<section class="container-fluid mapintro">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h2>Beschikbaarheid AED's</h2>
			<p>Hieronder een actueel overzicht van AED's die beschikbaar worden gesteld.</p>
		</div>
	</div>
</section>
{% include mapWrapper.html %}
{% include organisaties-modal.html %}