@import url(//fonts.googleapis.com/css?family=Oswald:300,400,700)
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800)
@import url(//fonts.googleapis.com/css?family=Six+Caps)

body
	-webkit-font-smoothing: antialiased
	-webkit-text-size-adjust: 100%
	line-height: 1.6
	color: $textColor
	font-family: 'Open Sans', sans-serif

h1, h2, h3, h4, h5
	font-family: 'Open Sans', sans-serif
	font-weight: 700
	color: $brand
h1
	font-size: 24px

h1.pageTitle
	font-size: 43px
	text-transform: uppercase
	letter-spacing: 1px

h2
	font-size: 18px

h3
	font-size: 14px
	font-weight: 700

a
	color: $linkcolor
	border-bottom: 1px solid transparent
	padding-bottom: 2px

a:hover, a:focus, a:active
	color: $brand
	text-decoration: none
	
	img
		opacity: 0.6
section
	padding-top: 30px
	padding-bottom: 60px
	
.btn-primary
	background-color: $accent
	border: 1px solid $accent
	border-radius: 0px
	+transition()

	&:hover
		background-color: $brand
		+transform(scale(1.1))

.tab-content
	padding-top: 20px
	
[type="submit"]
	background: $accent
	border: 1px solid tint($accent,50%)
	color: white
	text-transform: uppercase
	letter-spacing: 1px
	border-radius: 0px

	&:hover
		background: $brand
		border: 1px solid tint($brand,50%)
		color: white

.lastrow
	padding-top: 50px

.target
	position: relative
	top: -203px
	display: block
.pb15
	padding-bottom: 15px
.pt15
	padding-top: 15px

.pb30
	padding-bottom: 30px
.pt30
	padding-top: 30px
	
