a 
	.thumbnail
		background-color: tint($accent,80%)
		img
			+transition()
	&:hover
		.thumbnail
			border-color: $accent
			img
				opacity: 1
				+transform(scale(1.2))

	.thumbnail.uur
		background-color: tint($uur,80%)

	&:hover
		.thumbnail.uur
			border-color: $uur
			img
				opacity: 1
				+transform(scale(1.2))



.caption
	display: block
	padding-top: 10px
	text-align: center
	font-size: 1.2rem